body {

}

h1 {
    color: lightseagreen;
}

.docentenvakken {
    margin: 50px;
    width: 945px;
    display: grid;   
    grid-template-columns: 265px 265px 265px;
    grid-template-rows: 265px 265px 265px;
    grid-gap: 50px 50px;
}

.docentenvak {
    width: 265px;
    height: 265px;
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: 15px auto 15px;
}

.green{
    height: 250px;
    width: 250px;
    background-color: lightseagreen;
    grid-column:1/3;
    grid-row:1/3;
}

.white {
    height: 250px;
    width: 250px;
    background-color: white;
    grid-column: 2/4;
    grid-row: 2/4;
    text-align: center;
    color: lightseagreen;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.docentenfoto {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 10% auto 10% auto;    
}