.contactInfo {
    text-align: center;
    color: var(--primaryColor);
    font-size: 1em;
    margin: 2vw 0 2vw 0;
}

.kaartSchool {
    width: 100%;
    padding:1vw;
}

main.content {
    padding: 0;
    float: left;
    width: 80%;
}
.contactsidebar {
    float: left;
    width: 20%;
    padding: none;
}

.devider {
	display: inline-block;
	width: 100%;
}
iframe {
    border: none;
    width: 100%;
}