.pageContentBlock {
    width: 70%;
}

.contactInfo {
    text-align: center;
    color: var(--primaryColor);
    font-size: 1em;
    margin: 2vw 0 2vw 0;
}

.kaartSchool {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--lightPrimaryColor);
}

.devider {
    display: inline-block;
    width: 100%;
}
.pageContentBlock {
    float: left;
    width: 100%;
    padding: 2vh 6vw 0vh 6vw;
}
.contactsidebar {
    float: right;
    width: 20%;
    padding: 1vw;
}
@media (max-width: 950px) {
    .pageSidebarBlock {
        width: 100vw;
    }
}
