.docentenvakken {
    margin: 50px;
    width: 945px;
    display: grid;   
    grid-template-columns: 265px 265px 265px 265px 265px;
    grid-template-rows: 265px 265px 265px 265px 265px;
    grid-gap: 50px 50px;
}

.docentenfoto {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 10% auto 10% auto;  
    background: lightseagreen;
}
.docent .items p{
    text-align: center;
}

.docent{
    width: 265px;
    height: 265px;
    position: relative;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 2300px) {
    .docentenvakken {
        margin: 50px;
        width: 945px;
        display: grid;   
        grid-template-columns: 265px 265px 265px 265px;
        grid-template-rows: 265px 265px 265px 265px;
        grid-gap: 50px 50px;
    }
}

@media only screen and (max-width: 1880px) {
    .docentenvakken {
        margin: 50px;
        width: 945px;
        display: grid;   
        grid-template-columns: 265px 265px 265px;
        grid-template-rows: 265px 265px 265px;
        grid-gap: 50px 50px;
    }
}

@media only screen and (max-width: 1440px) {
    .docentenvakken {
        margin: 50px;
        width: 945px;
        display: grid;   
        grid-template-columns: 265px 265px;
        grid-template-rows: 265px 265px;
        grid-gap: 50px 50px;
    }
}

@media only screen and (max-width: 900px) {
    .docentenvakken {
        margin: 50px;
        width: 945px;
        display: grid;   
        grid-template-columns: 265px;
        grid-template-rows: 265px;
        grid-gap: 50px 50px;
    }
}