
.contentBlock-content {
    display: grid;
    grid-template-columns:  2% 30% 2% 64% 2% ;
    grid-template-rows: 2% 85% 11% 2%;
}

.docentenFoto {
    /*display: block;*/
    border-radius: 50%;
    object-fit: cover;
    margin: 2vw;
    width: 200px;
    height: 200px;
    /*grid-column: 2/3;
    grid-row: 2/3;*/  
}

.docentBlok-naam{
    margin: 2vw auto 0 auto;
    font-size: 4.4vw;
    text-align: center;
    grid-column: 4/5;
    grid-row: 2/3;  
    
}

.docent-Text {
    grid-column: 4/5;
    grid-row: 2/3;
}

.icons {
    grid-column: 2/6;
    grid-row: 3/4;
}

.icons img {
    height: 50px;
    margin: 15px;
}


.telefoonnummer {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.telefoonnummer .telefoonnummerhover {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.telefoonnummer .telefoonnummerhover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.telefoonnummer:hover .telefoonnummerhover {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 900px){
    .contentBlock-content {
        display: block;

    }
    .docentenFoto {
        display: block;
        border-radius: 50%;
        object-fit: cover;
        margin: 5vw auto 5vw auto;
        width: 200px;
        height: 200px;
        /*grid-column: 2/3;
        grid-row: 2/3;*/  
    }
    .docentBlok-naam{
        margin: 2vw auto 0 auto;
        font-size: 8vw;
    }
    .icons {
        display: block;
        margin: auto;
    }
    
    .icons img {
        display: block;
        height: 50px;
        margin: auto;
    }
}