.uitgelicht{
    margin-top: 5vh;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20vh 20vh;
    column-gap: 5%;
    row-gap: 20%;
    height: 100%;
}

.blocks{
    height: calc(max-content + 200px);
}

.item{
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.item .titel{
    width: 100%;
    padding: 15px;
}

.message{
    padding: 15px;
    display: grid;
    grid-template-columns: 65% 30%;    
    grid-template-rows: 100%;
    column-gap: 5%;
    height: 40%;
}

.text{
    height: 100%;
    width: 100%;
}

.image{
    background-color: #F4F4F4;
    width: 100%;
    height: 100%;
}

.text p{
    word-break: break-word;
}

.meta{
    display: grid;
    padding: 15px;
    width: 100%;
    grid-template-columns: 65% 30%;
    column-gap: 5%;
}

.meer{
    text-align: right;
}

/* */
.dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.all-news{
    width: 35%;
    margin-top: 20vh;
}

.all-news .itemRow{
        display: grid;
        grid-template-columns: 50px auto 50px;
        grid-template-rows: 50px;
        row-gap: 50px;
}

p{
    font-family: sans-serif;
}

.time p{
    color: grey;
    
}

.more{
    width: 100%;    
    padding: 20px;
    background-color: grey;
    margin-bottom: 100px;
    margin-top: 50px;
}    

.time{
    margin: auto 0;
}

.newsItem{
    margin: auto 0;
}


@media only screen and (max-width: 1410px) {
    .uitgelicht {
        grid-template-columns: 80%;
    }
}

.allList{
    margin-bottom: 100px
}