/* Navbar & Buttons */

body.darkmode {
	background-color: #151515;
	color: var(--tekstColor);
}

body.darkmode>nav.navbar {
	background-color: #151515;
}

body.darkmode>.navbar .navbar_items>ul li:hover,
body.darkmode>.navbar .navbar_items ul>.divider {
	background: #575a5a;
}

body.darkmode>.navbar .navbar_items ul>.darkmodeSwitch {
	color: var(--lightPrimaryColor);
}

body.darkmode .banner_image {
	filter: grayscale(100%);
}

body.darkmode .subTitle {
	color: var(--tekstColor);
}

/* END NAVBAR */

/*DARKMODE INPUT */

input.darkmode,
textarea.darkmode,
select.darkmode,
.selectMult.darkmode {
	color: var(--tekstColor);
	border-bottom: 2px solid var(--tekstColor);
}

input.darkmode:focus,
textarea.darkmode:focus,
select.darkmode:focus,
.selectMult.darkmode:focus {
	color: var(--tekstColor);
	border-color: var(--lightPrimaryColor);
}

input.darkmode::placeholder,
textarea.darkmode::placeholder,
select.darkmode::placeholder,
.selectMult.darkmode::placeholder,
input.darkmode:focus::placeholder,
textarea.darkmode:focus::placeholder,
select.darkmode:focus::placeholder,
.selectMult.darkmode:focus::placeholder {
	color: var(--tekstColor);
}

option.darkmode {
	background-color: #3c3a3a;
}

.selectMult.darkmode {
	padding: 0;
}

/* Scrollsbars*/

::-webkit-scrollbar {
	width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*BUTTONS */

button.darkmode {
	background-color: #2e3131;
	border: none;
	border-radius: 2px;
	padding: 12px 18px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	color: var(--tekstColor);
	outline: none;
}

button.darkmode:hover {
	background-color: #575a5a;
}

/*CONTENTBLOCKS*/

body.darkmode>main.content>div.left_content>div.contentBlock-grid>div.contentBlock>div.contentBlock-side {
	background-color: var(--lightPrimaryColor);
}

body.darkmode>main.content>div.left_content>div.contentBlock-grid>div.contentBlock>div.contentBlock-content {
	background-color: #3c3a3a;
	color: var(--tekstColor);
}

body.darkmode>main.content>div.left_content>div.contentBlock-grid>div.contentBlock>div.contentBlock-content>.contentBlock-text {
	color: var(--tekstColor);
}

/*Login Contenblock */

body.darkmode .contentBlock-side {
	background-color: var(--lightPrimaryColor);
}

body.darkmode .contentBlock-content {
	background-color: #3c3a3a;
	color: var(--tekstColor);
}

body.darkmode .contentBlock-text,
body.darkmode .contentBlock-text-normal {
	color: var(--tekstColor);
}

body.darkmode .colorBlock {
	background-color: #3c3c3cad;
}

body.darkmode footer.footer_desktop {
	background-color: var(--lightPrimaryColor);
}

body.darkmode .docentBlok-Icons a {
	color: var(--lightPrimaryColor);
}

/* Dropdown menu */

body.darkmode .navDropdown:hover,
body.darkmode .dropdown-content:hover,
body.darkmode .dropdown-content,
body.darkmode .dropdown-content:hover {
	background: #575a5a;
}

body.darkmode .dropdown-content a {
	color: var(--tekstColor);
}

body.darkmode .dropdown-content a:hover {
	background-color: #575a5a;
}

body.darkmode button.languageSwitch[type="submit"] {
	border-radius: unset;
	padding: 2.5vw 1vw;
	color: var(--tekstColor);
	background-color: var(--dark);
}

body.darkmode button.languageSwitch[type="submit"]:hover {
	background: #575a5a;
}

body.darkmode .langSwitchMobile {
	background-color: var(--lightPrimaryColor);
}

body.darkmode .langMobile,
.langMobile:hover {
	background-color: unset;
	font-size: 3vh;
	padding: 0;
}

body.darkmode .dropdown-content-mobile {
	background-color: #575a5a;
	color: var(--tekstColor);
}

body.darkmode .mobileContainer {
	background-color: #2e3131;
}

body.darkmode .mobileTab {
	border-right: 1px solid #3c3a3a;
}

body.darkmode .dropdown-content-mobile table tr.mbdivider td {
	border-bottom: 1px solid white;
}

body.darkmode .dropdown-content-mobile table tr.mbactive-drop>td:nth-child(1) {
	border-left: 1vw var(--darkPrimaryColor) solid;
}

body.darkmode .dropdown-content-mobile table tr>td:nth-child(1) {
	border-left: 1vw #575a5a solid;
}

.darkmodeSwitchMobile {
	background-color: var(--lightPrimaryColor);
	border: none !important;
}