/* Navbar & Buttons */
body.darkmode {
  background-color: #484c4c;
  color: white;
}


body.darkmode > nav.navbar {
  background-color: #2e3131;
}

body.darkmode > .navbar .navbar_items > ul li:hover {
  background: #575a5a radial-gradient(circle, transparent 1%, #575a5a 1%) center/15000%;
}

body.darkmode > .navbar .navbar_items ul > .divider {
  background-color: #575a5a;
}

body.darkmode > .navbar .navbar_items ul > .darkmodeSwitch {
  color: #318C91;
}
/* END NAVBAR */


/*DARKMODE INPUT */

input.darkmode {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;

}

input.darkmode:focus {
  color: rgb(240, 240, 240);
  border-color: #318C91;
}

input.darkmode::placeholder {
  color: #ffffff;
}
input.darkmode:focus::placeholder {
  color: #ffffff;
}

.inputWithIcon.darkmode i {
  color: #ffffff !important;
}


/*BUTTONS */
button.darkmode {
  background-color: #2e3131;
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;  
  outline: none;
}

button.darkmode:hover {
  background-color: #575a5a;
}


/*CONTENTBLOCKS*/
body.darkmode > main.content > div.left_content > div.contentBlock-grid > div.contentBlock > div.contentBlock-side {
  background-color: #318C91;
} 

body.darkmode > main.content > div.left_content > div.contentBlock-grid > div.contentBlock > div.contentBlock-content {
  background-color: #3c3a3a;
  color: white;
}

body.darkmode > main.content > div.left_content > div.contentBlock-grid > div.contentBlock > div.contentBlock-content > .contentBlock-text {
  color: white;
}


/*FOOTER*/

body.darkmode > div.footer-mobile > div.scrollmenu {
  background-color: #2e3131 !important;
}

body.darkmode > div.footer-mobile > div.scrollmenu > div {
  background-color: #2e3131 !important;
  border-right: 1px solid #3c3a3a;
}

body.darkmode > footer.footer_desktop {
  background-color: #318C91 !important;
}