@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Fonts */

*{
    margin: 0;
    padding: 0;
    
    --lighterPrimaryColor: #54A7AB;
    --lightPrimaryColor: #318C91;
    --primaryColor: #188287;
    --darkPrimaryColor: #0B696D;
    --darkerPrimaryColor: #015256;
    --dark: #131313;
    --tekstColor: #FFFFFF;

    font-family: 'Roboto', sans-serif; /* Default font */
    
    /* 
        this is how you can call a primary color/var
        var(--primaryColor); 
    */
}

.weatherReport {
    border: #E0E0E0 1px solid;
    padding: 20px;
    width: 300px;
}

.weather-icon {
    vertical-align: middle;
    margin-right: 20px;
}

.weather-forecast {
    font-size: 1.2em;
    font-weight: bold;
}
