*{
    margin: 0;
    padding: 0;
    
    --lighterPrimaryColor: #54A7AB;
    --lightPrimaryColor: #318C91;
    --primaryColor: #188287;
    --darkPrimaryColor: #0B696D;
    --darkerPrimaryColor: #015256;
    --dark: #131313;
    --tekstColor: #FFFFFF;
    
    /* 
        this is how you can call a primary color/var
        var(--primaryColor); 
    */
}

