@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
    --lighterPrimaryColor: #54A7AB;
    --lightPrimaryColor: #318C91;
    --primaryColor: #188287;
    --darkPrimaryColor: #0B696D;
    --darkerPrimaryColor: #015256;
    --dark: #131313;
    --tekstColor: #FFFFFF;

    font-family: 'Roboto', sans-serif; /* Default font */
    
    /* 
        this is how you can call a primary color/var
        var(--primaryColor); 
    */
}
a {
  text-decoration: none;
  color: #30dfc7;
}

/* CONTENTBLOCKS */
.contentBlock-grid {
  grid-template-columns: 25% 25% 25%;
  margin-top: 30px;
  display: grid;   
  grid-column-gap: 6%;
}

.contentBlock {
  transition: all .2s ease-in-out;
  display: grid;
  grid-template-columns: 25px auto 25px;
  grid-template-rows: 25px auto 25px;
  margin-bottom: 40px;
}

.contentBlock:hover {
  transform: scale(1.1);
}

.contentBlock-nohover {
  transition: all .2s ease-in-out;
  display: grid;
  grid-template-columns: 25px auto 25px;
  grid-template-rows: 25px auto 25px;
  margin-bottom: 40px;
}
.contentBlock-side {
  background-color: #4ac4b3;
  grid-column:1/3;
  grid-row:1/3;
}

.contentBlock-content {
  transition: 0.3s;
  position: relative;
  background-color: white;
  grid-column: 2/4;
  grid-row: 2/4;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.contentBlock-photo {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10% auto 10% auto;    
}

.contentBlock-title {
  font-size: 24px;
  text-align: left;
  margin: 20px 0px 0px 20px;
}

main.content { 
  min-height: calc(100vh - 90px); 
  transition: 0.3s;
  padding: 0% 0% 0% 11%;
}

main.content .left_content {

}

.subTitle {
  font-size: 30px;
  font-weight: 700;
  margin-top: 2vw;
}

.contentBlock-text {
  transition: 0.3s;
  font-size: 17px;
  color: grey;
  font-style: italic;
  text-align: left;
  margin: 10px 0px 0px 20px;
}
.contentBlock-date {
  color: rgb(184, 179, 179);
  /* font-size: 13px; */
  /* position: relative; */
  /* float: left; */
  margin: 10px 10px 10px 20px;
}


.contentBlock-link {
  /* position: relative; */
  /* float: right; */
  margin: 10px 30px 20px 20px;
}

/*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/
input {
  font-size: 16px;
  color: rgb(80, 79, 79);
  border: none;
  border-bottom: 2px solid rgb(80, 79, 79);
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: transparent;
}

input:focus {
  color: rgb(80, 79, 79);
  border-color: #4ac4b3;
}

input::placeholder {
  color: rgb(80, 79, 79);
  transition: 0.3s;
}
input:focus::placeholder {
  color: #4ac4b3;
}

.inputWithIcon input {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  font-size: 21px;
  position: absolute;
  left: 0;
  top: 6px;
  padding: 9px 8px;
  color: rgb(80, 79, 79);
  transition: 0.1s;
}

.inputWithIcon input:focus + i {
  color: #4ac4b3;
}


/* Button style */
button {
  background-color: #4ac4b3;
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  outline: none;
  transition: 0.3s;
}
button:hover{
  background-color: #318C91;
}
.weatherReport {
    border: #E0E0E0 1px solid;
    padding: 20px;
    width: 300px;
}

.weather-icon {
    vertical-align: middle;
    margin-right: 20px;
}

.weather-forecast {
    font-size: 1.2em;
    font-weight: bold;
}

/* Rand voor blokken en objecten */
.rand:after{
    content: '';
    position: absolute;
    top: -20px;
    right: 10%;
    width: 90%;
    border-top: 20px solid lightseagreen;
    height: 90%;
    border-left: 20px solid lightseagreen;
    pointer-events:none;
}

