@media (max-width: 900px){
	/* REPSONSIVE NAVBAR */
	.navbar{
		align-items: normal !;
		height: auto;
		flex-direction: column;
		position: relative;
	}

    .navbar .navbar_items ul li {
		display: none;
	}

	.navbar .navbar_items .divider {
		  display: none;
	}

	.navbar .navbar_items .darkmodeSwitch {
		  display: none;
	}
	.navbar ul li{
		margin-bottom: 5px;
	}

	.navbar ul {
		flex-direction: column;
		text-align: center;
	}
	.navbar .logo{
        padding: 2% 0% 2% 4%;
	}

	/*BANNER IMAGE RESPONSIVE */
	.banner_image {
		display: none;
  	}

  	.banner_content-left {
		padding: 5% 0% 0% 4%;
	  }

	.banner_content-left .bannerTitle {
		font-size: 1.5em;
		color: #ffffff;
	}

	.banner_content-left .bannerSubTitle {
		color: #ffffff;
	}

    .banner_content-right {
		display: none;
        text-align: right;
	}

	.footer_desktop {
		display: none;
	}


	main.content {
		padding: 2% 11% 0% 11%;
		grid-template-columns: unset;
	}
	main.content > .left_content {
		max-width: 100%;
	}


	.contentBlock-grid {
		grid-template-columns: none	;
		grid-gap: unset;
	}

	.sideBar {
		display: none;
	}
	.colorBlock {
		display: none;
	}

	.loginWrapper{
		grid-column: unset;
	}

	.pageContentBlock{
		width: 100%;
	}
}

@media (min-width: 900px){
	.footer-mobile > div.scrollmenu {
		display: none;
	}
} 