.sideBar {
	background: blue;
	flex: 1 0 auto;
	/* enable grow, disable shrink */
}
.row {
	width: 100%;
	height: 200px;
	background: #f8f8f8;
}
.weer {
	width: 100%;
	height: 300px;
	background: #f8f8f8;
}

h3 {
	margin: 0;
}

.rowContent {
	padding: 15px;
}

.rowContent a {
	text-decoration: none;
	color: var(--dark);
}
.rowContent a:hover {
	color: var(--primaryColor);
}

.weather-icon {
	vertical-align: middle;
	margin-right: 20px;
}

.weather-forecast {
	font-size: 1.2em;
}
.important-pages p {
	padding: 10px 0;
}
