.sideBar {
	flex: 1 0 auto;
	/* enable grow, disable shrink */
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 10% auto;
	padding: 1vw;
}
.weer {
	width: 100%;
	height: 300px;
	background: #f8f8f8;
}

h2 {
	margin: 0 0 1vw 0;
	grid-row: 1/2;
}

.weather-name {
	color: black;
	font-size: 1.5vw;
	margin: 0.8vw 0 0 0;
	grid-column: 1/2;
}

.weather-data {
	color: var(--primaryColor);
	font-size: 1.4vw;
	grid-column: 1/2;
}

.weather-icon {
	vertical-align: middle;
	grid-column: 2/3;
	grid-row: 1/2;
}
