/* Navigation bar */
.navbar {
	transition: 0.3s;
	background-color: #4ac4b3;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px 1px rgba(48, 43, 43, 0.25);
	z-index: 2;
}

.navbar .logo {
	padding: 0% 0% 0% 10%;
}
.navbar .navbar_items > .topul {
	margin: 0;
}
.navbar .navbar_items > .topul .topli {
	transition: 0.3s;
}

.navbar .navbar_items > .topul .topli:hover {
	background: var(--lightPrimaryColor)
		radial-gradient(circle, transparent 1%, var(--lightPrimaryColor) 1%)
		center/15000%;
	box-shadow: inset 0 -5px 0 0 var(--tekstColor);
}

.navbar .navbar_items > .topul .topli.active {
	box-shadow: inset 0 -5px 0 0 var(--tekstColor);
}
.navbar .navbar_items .topul {
	display: flex;
}

.navbar .navbar_items .topul .topli {
	color: var(--tekstColor);
	padding: 48px 35px 48px 35px;
}

.navbar .navbar_items .topul > .divider {
	transition: 0.3s;
	width: 2px;
	margin: 20px 10px 10px 10px;
	background-color: var(--tekstColor);
}

.navbar .navbar_items .topul > .darkmodeSwitch {
	padding: 48px 20px;
	color: var(--tekstColor);
}

button.languageSwitch,
button.darkmodeSwitch {
	border-radius: unset;
	padding: 48px 20px;
	color: var(--tekstColor);
}

.navbar .navbar_items .topul button > .languageSwitch.English {
	color: white;
}

/* Weather Widget */

.weatherWidget {
	display: grid;
	grid-template-rows: 25% 40% 15% auto;
	grid-template-columns: 15% 42% auto;
}

.weahterIcon {
	margin-left: 1.8vw;
	font-size: 3vw;
	grid-column: 3;
	grid-row: 1;
}

.weatherTemp {
	font-size: 5vw;
	grid-column: 2;
	grid-row: 2;
}

.weatherTempIcon {
	font-size: 3vw;
	grid-column: 3;
	grid-row: 2;
	margin-top: 1.5vh;
}

.weatherCity {
	font-size: 1.5vw;
	grid-column: 2;
	grid-row: 3;
	margin-left: 0.8vw;
}
.weatherDesc {
	grid-column: 2/4;
	grid-row: 4;
	margin-left: 0.8vw;
	font-style: italic;
	font-size: 1vw;
}

/* Banner Image */
.banner_image {
	background-color: rgba(0, 0, 0, 0.5);
	background: url("../../images/jumbotron.jpg") no-repeat center;
	background-size: cover;
	width: 100%;
	height: max-content;
	padding: 2vw;
	display: flex;
	justify-content: space-between;
}

.banner_content-left {
	padding: 4% 0% 0% 11%;
	text-align: left;
}

.banner_content-right {
	text-align: right;
	color: #fff;
}

.bannerTitle {
	text-transform: capitalize;
	font-size: 3vw;
	font-weight: 700;
	transition: 0.3s;
}

.bannerSubTitle {
	font-weight: 400;
	text-transform: none;
	transition: 0.3s;
}

body > .jumbotron > .jumbotron-content > div.inputSearchField {
	margin-top: 15px;
	width: 300px;
}

.grid-container {
	display: grid;
	width: 100%;
	grid-template-columns: 7vw 7vw 7vw 17vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw;
	grid-template-rows: 7vw 7vw 7vw 7vw;
	grid-template-areas:
		". . . . . . . . . J1 ."
		". Titel Titel . Populair Populair . . . . J2"
		". . . . Populair Populair . Contact J4 J3 ."
		". . . . . . Mededelingen . . . .";
}

.Titel {
	grid-area: Titel;
	width: 100%;
	height: 100%;
}

.colorBlock {
	background: #e1e1e185;
}

.Populair {
	grid-area: Populair;
}

.Mededelingen {
	grid-area: Mededelingen;
}

.Contact {
	grid-area: Contact;
}

.J4 {
	grid-area: J4;
}

.J3 {
	grid-area: J3;
}

.J2 {
	grid-area: J2;
}

.J1 {
	grid-area: J1;
}

.J1,
.J2,
.J3,
.J4,
.Contact,
.Mededelingen,
.Populair {
	width: 100%;
	height: 100%;
	transition: 0.3s;
}
.zoom:hover {
	transform: scale(1.1);
}

.headerBlock p {
	margin: 0;
	font-size: 1vw;
}

.headerBlock {
	text-align: center;
	margin-top: 40%;
	vertical-align: middle;
	font-family: sans-serif;
}

.Mededelingen .headerBlock {
	text-align: center;
	margin-top: 35%;
	vertical-align: middle;
	font-family: sans-serif;
}

.dropbtn {
	display: flex;
	color: var(--tekstColor);
	padding: 48px 35px 48px 35px;
}

.navDropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	max-height: 0;
	transition: max-height 0.15s ease-out;
	overflow: hidden;
	display: block;
	position: absolute;
	background-color: #f1f1f1;
	width: auto;
	/* margin-left: 10px; */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.navDropdown:hover .dropdown-content {
	max-height: 500px;
	transition: max-height 0.5s ease-in;
}
.navDropdown:hover,
.dropdown-content:hover {
	background: var(--lightPrimaryColor);
	box-shadow: inset 0 -5px 0 0 var(--tekstColor);
}

.dropdown-content:hover {
	background: white;
	box-shadow: unset;
}

.dropdown-content a {
	color: var(--dark);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	transition: 0.3s;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropbtn.darkmode {
	padding: 48px 35px 48px 35px;
	background-color: transparent;
}

.langsitch button {
	padding: 48px 20px 48px 20px;
}
.logoutbutton {
	color: var(--dark);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background: none;
	text-transform: none;
	text-transform: none;
	text-align: left;
	width: 100%;
}
.logoutbutton:hover {
	background-color: #ddd;
}
